body {
    width: 100%;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.5px;
    margin: 0;
}

/* cotainer size  */
.cont-arrow {
    width: 4em;
    height: 4em;
}
.cont-p {
    width: 2em;
    height: 2em;
}

/* width style  */
.w-fit {
    width: fit-content;
}
.w-200 {
    width: 200%;
}
.w-170 {
    width: 170%;
}
.w-150 {
    width: 150%;
}
.w-110 {
    width: 110%;
}
.w-100 {
    width: 100%;
}
.w-95 {
    width: 95%;
}
.w-90 {
    width: 90%;
}
.w-85 {
    width: 85%;
}
.w-80 {
    width: 80%;
}
.w-75 {
    width: 75%;
}
.w-70 {
    width: 70%;
}
.w-65 {
    width: 65%;
}
.w-60 {
    width: 60%;
}
.w-55 {
    width: 55%;
}
.w-50 {
    width: 50%;
}
.w-45 {
    width: 45%;
}
.w-40 {
    width: 40%;
}
.w-35 {
    width: 35%;
}

/* height style  */
.h-160 {
    height: 160%;
}
.h-100 {
    height: 100%;
}
.h-95 {
    height: 95%;
}
.h-90 {
    height: 90%;
}
.h-85 {
    height: 85%;
}
.h-80 {
    height: 80%;
}
.h-75 {
    height: 75%;
}
.h-70 {
    height: 70%;
}
.h-65 {
    height: 65%;
}
.h-60 {
    height: 60%;
}
.h-55 {
    height: 55%;
}
.h-50 {
    height: 50%;
}
.h-45 {
    height: 45%;
}
.h-40 {
    height: 40%;
}
.h-35 {
    height: 35%;
}
.h-7 {
    height: 7em;
}
.h-4 {
    height: 4em;
}

/* display style  */
.d-flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.d-grid {
    display: grid;
}
.d-grid-hide {
    display: grid;
}
.grid-one-one-static {
    grid-template-columns: repeat(2, 1fr);
}
.grid-one-one {
    grid-template-columns: repeat(2, 1fr);
}
.grid-two-one {
    grid-template-columns: 2fr 1fr;
}
.grid-one-onepfive {
    grid-template-columns: 1fr 1.5fr;
}
.grid-one-two {
    grid-template-columns: 1fr 2fr;
}
.grid-one-four {
    grid-template-columns: 1fr 4fr;
}
.grid-one-seven-one {
    grid-template-columns: 1fr 7fr 1fr;
}
.d-hide {
    display: none;
}
.d-hide-flex {
    display: none;
}
.d-hide-grid {
    display: none;
}

/* dislay positioning  */
.just-center {
    justify-content: center;
}
.just-start {
    justify-content: start;
}
.just-end {
    justify-content: end;
}
.just-s-evenly {
    justify-content: space-evenly;
}
.just-s-between {
    justify-content: space-between;
}
.just-self-center {
    justify-self: center;
}
.just-self-start {
    justify-self: start;
}
.just-self-end {
    justify-self: end;
}
.align-center {
    align-items: center;
}
.align-top {
    align-items: flex-start;
}
.align-self-center {
    align-self: center;
}
.align-self-top {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
    justify-self: center;
}

/* gap flex and grid  */
.gap-1 {
    gap: 1em;
}
.gap-1p5 {
    gap: 1.5em;
}
.gap-2 {
    gap: 2em;
}
.gap-3 {
    gap: 3em;
}
.gap-4 {
    gap: 4em;
}
.gap-5 {
    gap: 5em;
}
.gap-7 {
    gap: 7em;
}
.gap-10 {
    gap: 10em;
}

/* position style  */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.top-0 {
    top: 0;
}
.btm-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}
.left-7 {
    left: 7em;
}
.left-17 {
    left: 17em;
}
.left-19 {
    left: 19em;
}
.left-21 {
    left: 21em;
}
.right-0 {
    right: 0;
}
.right-7 {
    right: 7em;
}
.z9 {
    z-index: 9;
}
.z99 {
    z-index: 99;
}
.z999 {
    z-index: 999;
}
.z-99 {
    z-index: -99;
}

/* color style */
.text-white {
    color: white;
}
.text-lg-gray {
    color: #8b8b8b;
}
.text-gray {
    color: #606060;
}
.text-drpurple {
    color: #232340;
}
.text-purple {
    color: #5468e7;
}

/* background style  */
.cl-transparent {
    background-color: transparent;
}
.cl-drpurple {
    background-color: #232340;
}
.cl-purple {
    background-color: #5468e7;
}
.cl-pink {
    background-color: #c897e4;
}
.cl-lg-gray {
    background-color: #8b8b8b;
}
.cl-gray {
    background-color: #606060;
}
.cl-white {
    background-color: white;
}
.gradient-purple {
    background: linear-gradient(
        0deg,
        rgba(84, 104, 231, 1) 0%,
        rgba(160, 172, 255, 1) 90%
    );
}

/* text style  */
.sub-title-1 {
    font-size: 1rem;
}
.sub-title-1p5 {
    font-size: 1.5rem;
}
.sub-title-2 {
    font-size: 2rem;
}
.title {
    font-size: 4rem;
}
.sub-title {
    font-size: 3rem;
}
.text-jbtron {
    font-size: 11rem;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}

/* link style  */
.link-grey:link,
.link-grey:hover,
.link-grey:active,
.link-grey:visited {
    text-decoration: none;
    color: #606060;
    font-weight: bold;
}
.active:link,
.active:hover,
.active:active,
.active:visited {
    color: #5468e7;
    text-decoration: none;
    font-weight: bold;
}

/* img style */
.logo {
    height: 3em;
}
.icon {
    height: 2em;
}
.arrow {
    width: 1.8em;
}
.buble {
    width: 5em;
    height: 5em;
}

/* button style  */
.btn {
    padding: 23px 43px;
    border-radius: 7px;
    border: 0;
    font-size: 1em;
    font-weight: bold;
}
.btn-scroll-down {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

/* margin style  */
.m-0 {
    margin: 0;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-3 {
    margin-top: 3em;
}
.mt-4 {
    margin-top: 4em;
}
.mt-5 {
    margin-top: 5em;
}
.mt-10 {
    margin-top: 10em;
}
.mt-27 {
    margin-top: 27em;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-3 {
    margin-bottom: 3em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-5 {
    margin-bottom: 5em;
}
.mb-10 {
    margin-bottom: 10em;
}
.ms-1 {
    margin-left: 1em;
}
.ms-2 {
    margin-left: 2em;
}
.ms-3 {
    margin-left: 3em;
}
.ms-4 {
    margin-left: 4em;
}
.ms-5 {
    margin-left: 5em;
}
.ms-10 {
    margin-left: 10em;
}
.me-1 {
    margin-right: 1em;
}
.me-2 {
    margin-right: 2em;
}
.me-3 {
    margin-right: 3em;
}
.me-4 {
    margin-right: 4em;
}
.me-5 {
    margin-right: 5em;
}
.margin-auto {
    margin: 0 auto;
}

/* paddding style */
.p-0 {
    padding: 0;
}
.p-3 {
    padding: 3em;
}
.py-9 {
    padding: 9em 0;
}
.py-10 {
    padding: 10em 0;
}
.pt-1 {
    padding-top: 1em;
}
.pt-2 {
    padding-top: 2em;
}
.pt-3 {
    padding-top: 3em;
}
.pt-4 {
    padding-top: 4em;
}
.pt-5 {
    padding-top: 5em;
}
.pt-10 {
    padding-top: 10em;
}
.pt-27 {
    padding-top: 27em;
}
.pb-1 {
    padding-bottom: 1em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pb-3 {
    padding-bottom: 3em;
}
.pb-4 {
    padding-bottom: 4em;
}
.pb-5 {
    padding-bottom: 5em;
}
.ps-1 {
    padding-left: 1em;
}
.ps-2 {
    padding-left: 2em;
}
.ps-3 {
    padding-left: 3em;
}
.ps-4 {
    padding-left: 4em;
}
.ps-5 {
    padding-left: 5em;
}
.pe-1 {
    padding-right: 1em;
}
.pe-2 {
    padding-right: 2em;
}
.pe-3 {
    padding-right: 3em;
}
.pe-4 {
    padding-right: 4em;
}
.pe-5 {
    padding-right: 5em;
}
.pe-7px {
    padding-right: 7px;
}

/* image style  */
.p-height {
    line-height: 2em;
}

/* transform style  */
.translate3-25 {
    transform: translate(2em, 25em);
}
.translatex-3-3 {
    transform: translate(-3em, 3em);
}
.translate-12-10 {
    transform: translate(-12em, -10em);
}
.translate7-7 {
    transform: translate(7em, -7em);
}
.translate13-7em {
    transform: translate(13em, -7em);
}
.translatex13 {
    transform: translateX(13em);
}
.translatex20 {
    transform: translateX(21em);
}
.translatey-5 {
    transform: translateY(-5em);
}
.translatey3 {
    transform: translateY(3em);
}
.translatey5 {
    transform: translateY(5em);
}
.translatey15 {
    transform: translateY(15em);
}
.rotate-90 {
    transform: rotate(-90deg);
}
.rotate90 {
    transform: rotate(90deg);
}
.rotate180 {
    transform: rotate(180deg);
}

/* line style */
.hor-line {
    width: 1em;
    height: 3px;
}
.vertical-line {
    width: 2px;
    height: 5em;
}
.divide-line {
    width: 100%;
    height: 1px;
}
.hamb-icon {
    height: 2px;
    width: 27px;
    background-color: black;
    margin: 7px;
}

/* box style  */
.bx-shadow {
    width: 100%;
    border-radius: 2em;
    box-shadow: 0 17px 17px 0 rgba(82, 82, 82, 0.1);
}
.circle-shadow {
    width: 27em;
    height: 27em;
    border-radius: 50%;
    box-shadow: 0 17px 17px 0 #1b1b31;
}

/* border style  */
.br-0 {
    border: 0;
}
.br-gray {
    border: 1px solid #8b8b8b;
}
.br-white {
    border: 1px solid white;
}
.br-white-2 {
    border: 2px solid white;
}
.br-right-white {
    border-right: 1px solid white;
}
.br-left-white {
    border-left: 1px solid white;
}
.br-bt-white {
    border-bottom: 1px solid white;
}
.br-black-2 {
    border: 2px solid black;
}
.br-radius-1 {
    border-radius: 1em;
}
.br-radius-2 {
    border-radius: 2em;
}
.br-radius-3 {
    border-radius: 3em;
}
.br-radius-5 {
    border-radius: 5em;
}

/* opacity style  */
.opacity-1 {
    opacity: 0.1;
}
.opacity-2 {
    opacity: 0.2;
}
.opacity-3 {
    opacity: 0.3;
}
.opacity-4 {
    opacity: 0.4;
}
.opacity-5 {
    opacity: 0.5;
}
.opacity-6 {
    opacity: 0.6;
}
.opacity-7 {
    opacity: 0.7;
}
.opacity-8 {
    opacity: 0.8;
}
.opacity-9 {
    opacity: 0.9;
}

/* invert image  */
.invert {
    filter: invert(1);
}

/* object style  */
.object-none {
    object-fit: none;
    object-position: 0 0;
}

/* animation style  */
.menus-hide {
    animation: menus-cont-hide 2000ms forwards ease-in;
}
.menus-show {
    animation: menus-cont-show 1300ms forwards;
}
.hamb-top-check {
    animation: hamb-top 1000ms forwards;
}
.hamb-bt-check {
    animation: hamb-bt 1000ms forwards;
}
.hamb-top-uncheck {
    animation: hamb-top-bc 1000ms forwards;
}
.hamb-bt-uncheck {
    animation: hamb-bt-bc 1000ms forwards;
}
.nav-icon-change {
    animation: change-icon 1000ms forwards;
}
.nav-icon-change-back {
    animation: change-icon-back 1000ms forwards;
}
@keyframes hamb-top {
    100% {
        transform-origin: 5px -1px;
        transform: rotate(45deg);
        filter: invert(1);
    }
}
@keyframes hamb-bt {
    100% {
        transform-origin: 7px 5px;
        transform: rotate(-45deg);
        filter: invert(1);
    }
}
@keyframes hamb-top-bc {
    0% {
        transform-origin: 5px -1px;
        transform: rotate(45deg);
        filter: invert(1);
    }
    100% {
        transform: 0;
    }
}
@keyframes hamb-bt-bc {
    0% {
        transform-origin: 7px 5px;
        transform: rotate(-45deg);
        filter: invert(1);
    }
    100% {
        transform: 0;
    }
}
@keyframes menus-cont-show {
    0% {
        transform: translateX(2500px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes menus-cont-hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(2500px);
        display: none;
    }
}
@keyframes change-icon {
    85% {
        background-image: url(img/logo.png);
        background-size: 7em;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    100% {
        background-image: url(img/logo-wh.png);
        background-size: 7em;
        background-repeat: no-repeat;
        background-position-y: center;
    }
}
@keyframes change-icon-back {
    0% {
        background-image: url(img/logo-wh.png);
        background-size: 7em;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    10% {
        background-image: url(img/logo-wh.png);
        background-size: 7em;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    100% {
        background-image: url(img/logo.png);
        background-size: 7em;
        background-repeat: no-repeat;
        background-position-y: center;
    }
}

/* nav style start  */
.nav-icon {
    height: 2em;
    background-image: url(img/logo.png);
    background-size: 7em;
    background-repeat: no-repeat;
    background-position-y: center;
}
.change-nav-icon {
    background-image: url(img/logo-wh.png);
}
.hamburger {
    display: none;
}
#check {
    width: 37px;
    transform: translateX(39px);
    opacity: 0;
    position: relative;
    z-index: 999;
    cursor: pointer;
}
/* nav style end  */

@media screen and (max-width: 1023px) {
    /* display style  */
    .grid-one-one {
        grid-template-columns: 1fr;
    }
    .grid-one-two {
        grid-template-columns: 1fr;
    }
    .grid-one-four {
        grid-template-columns: 1fr;
    }
    .grid-one-onepfive {
        grid-template-columns: 1fr;
    }
    .grid-one-seven-one {
        grid-template-columns: 1fr;
    }
    .d-hide {
        display: block;
    }
    .d-hide-flex {
        display: flex;
    }
    .d-hide-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex-fluid {
        flex-direction: row;
    }
    .m-hide {
        display: none;
    }

    /* image style  */
    .fluid-img {
        width: 150%;
        transform: translateX(-20%);
    }
    .fluid-img-1 {
        width: 150%;
        transform: translateX(-10%);
    }
    .fluid-img-2 {
        width: 120%;
    }

    /* container style  */
    .icon-cont {
        width: 90%;
        margin: 0 auto;
        z-index: 999;
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-self: center;
    }

    /* link style  */
    .nav-menus:link,
    .nav-menus:active,
    .nav-menus:hover,
    .nav-menus:visited {
        color: #595976;
    }
    .active:link,
    .active:active,
    .active:hover,
    .active:visited {
        color: white;
    }

    /* padding style  */
    .py-fluid-5 {
        padding: 5em 0;
    }
    .pt-fluid-5 {
        padding-top: 5em;
    }

    /* margin style  */
    .mt-fluid-2 {
        margin-top: 2em;
    }
    .mt-fluid-5 {
        margin-top: 5em;
    }

    /* transform style  */
    .fluid-scale {
        transform: scale(0.8);
    }
    .translatey7-fluid {
        transform: translateY(7em);
    }

    /* width style  */
    .w-fluid-60 {
        width: 60%;
    }
    .w-fluid-65 {
        width: 65%;
    }
    .w-fluid-70 {
        width: 70%;
    }
    .w-fluid-75 {
        width: 75%;
    }
    .w-fluid-80 {
        width: 80%;
    }
    .w-fluid-85 {
        width: 85%;
    }
    .w-fluid-90 {
        width: 90%;
    }
    .w-fluid-95 {
        width: 95%;
    }
    .w-fluid-100 {
        width: 100%;
    }

    /* text style  */
    .sub-title-1 {
        font-size: 0.75rem;
    }
    .sub-title-1p5 {
        font-size: 1.25rem;
    }
    .sub-title-2 {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2.7rem;
    }
    .sub-title {
        font-size: 2.5rem;
    }
    .gap-fluid-3 {
        gap: 3em;
    }
    .text-jbtron {
        font-size: 9rem;
    }

    /* shadow style  */
    .circle-shadow {
        width: 20em;
        height: 20em;
        border-radius: 50%;
        box-shadow: 0 17px 17px 0 #1b1b31;
    }

    /* button style  */
    .btn {
        padding: 23px 43px;
        border-radius: 7px;
        border: 0;
        font-size: 1em;
        font-weight: 400;
    }

    /* gap style  */
    .gap-fluid-1 {
        gap: 1em;
    }

    /* background style  */
    .active-menu {
        background-color: #5468e7;
        border: 0;
    }

    /* filter style  */
    .active-menu-invert {
        filter: brightness(3);
    }

    /* nav style  */
    .hamburger {
        display: flex;
        flex-direction: row;
        justify-self: end;
    }
    .menus-cont {
        position: fixed;
        background-color: #232340;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateX(2000px);
    }
    .nav-menus-cont {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 2em;
    }
    .nav-menus {
        font-size: 1.5rem;
    }

    /* hero style  */
    .hero-cont {
        padding: 5em 0 0 0;
        margin-bottom: 0;
    }

    /* who style  */
    .who-txt-jb {
        justify-self: center;
    }

    /* recent work style  */
    .bento-arrow {
        position: static;
        transform: translate(0) scale(0.8);
        align-self: flex-start;
    }

    /* by the number style  */
    .by-numb-cont {
        grid-template-areas:
            "first-content"
            "second-content";
    }
    .by-numb-cont div:nth-child(2) {
        grid-area: first-content;
    }
    .by-numb-cont div:nth-child(1) {
        grid-area: second-content;
    }

    /* footer style  */
    .top-footer {
        background: linear-gradient(
            158deg,
            rgba(84, 104, 231, 1) 47%,
            rgba(153, 166, 255, 1) 100%
        );
    }
    .top-footer-lets {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .bt-footer {
        grid-template-areas:
            "socmed"
            "web-info";
    }
    .bt-footer div {
        grid-area: socmed;
        justify-self: center;
    }
    .bt-footer p {
        grid-area: web-info;
        justify-self: center;
        margin-top: 3em;
    }
    .socmed-icon {
        width: 3em;
        height: 3em;
        border-radius: 2em;
        border: 1px solid #8b8b8b;
    }
    .socmed-icon .icon {
        transform: scale(0.4);
    }
}
